$cursor: pointer;
$hundred:100%;

html {
    height: $hundred;

    body {
        background-image: linear-gradient(45deg, #70090c, #5a5a5a);
        background-attachment: fixed;
        background-size: $hundred $hundred;
        height: $hundred;
        user-select: none;
    }
}

a {
    cursor: $cursor;
}

.center {
    position: relative;
    top: 250px;

    .logo {
        cursor: $cursor;
    }
}

.image {
    img {
        max-height: 336.7px;
        top: 100.45px;
        position: relative;
    }
}